@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

:root{
--Red: hsl(0, 78%, 62%);
--Cyan: hsl(180, 62%, 55%);
--Orange: hsl(34, 97%, 64%);
--Blue: hsl(212, 86%, 64%);
--Very-Dark-Blue: hsl(234, 12%, 34%);
--Grayish-Blue: hsl(229, 6%, 66%);
--Very-Light-Gray: hsl(0, 0%, 98%);
}
.titulo{
   
    color: var(--Very-Dark-Blue);
    font-weight: 200;
    text-align: center;
    margin-top: 50px;
   
}
.paragrafo{
text-align: center;


color: var(--Very-Dark-Blue);
}
.card-supervisor{
    box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.3);
    display: inline-block;
    border-radius: 10px;
    padding: 30px;
    border-top: 5px solid var(--Cyan);
    position: relative;
    left: 420px;
    top: 310px;
}
.card-titulo{
  color: var(--Very-Dark-Blue);
  margin: 10px 0;
  
}
.card-paragrafo{
   color: var(--Grayish-Blue);
   margin-bottom: 10px;
}
.icon{
    position: relative;
    left: 200px;

}
.Team{

    box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.3);
    display: inline-block;
    border-radius: 10px;
    padding: 30px;
    border-top: 5px solid var(--Red);
    position: relative;
    left: 450px;
    top: 200px;
}
.card-team{
    color: var(--Very-Dark-Blue);
    margin: 10px;
}
.card-2{
    color: var(--Grayish-Blue);
    margin-bottom: 10px;
}
.icon2{
    position: relative;
    left: 250px;
}
.karma{
    box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.3);
    display: inline-block;
    border-radius: 10px;
    padding: 30px;
    border-top: 5px solid var(--Orange);
    position: relative;
    left: 80px;
    top: 470px;

}
.card-karma{
    color: var(--Very-Dark-Blue);
    margin: 10px;
}
.para-karma{
    color: var(--Grayish-Blue);
    margin-bottom: 10px;
}
.icon3{
    position: relative;
    left: 250px;
}
.calculator{
    box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.3);
    display: inline-block;
    border-radius: 10px;
    padding: 30px;
    border-top: 5px solid var(--Blue);
    position: relative;
    left: 100px;
    top: 310px;
}
.card-calculador{
    color: var(--Very-Dark-Blue);
    margin: 10px;
}
.para-calculator{
    color: var(--Grayish-Blue);
    margin-bottom: 10px;
}
.icon4{
    position: relative;
    left: 250px;
}