
h1{
    color: rgb(195, 173, 144);
    background-color: rgb(166, 137, 98);
    border: 2px solid white;
    border-radius: 5px;

}
p{
    color: rgb(0, 0, 0);
    font-size: 15px;
}
img{
    width: 80px;
}
div#texto{
    padding-top: 15px;
}

div#img{
    position: absolute;
    left: 171px;
    top: 130px;
    overflow: hidden;
}
div#img2{
    position: absolute;
    left: 171px;;
    top: 510px;
    overflow: hidden;
}





body{
   background-color: rgb(195, 173, 144);
}