
body{
    background-color: blanchedalmond;
    position: relative;
    border-radius: 10px;
    height: 2000px;
    margin: 0%;
    
}
.principal{
    color: black;
}

.tudo{
  width: 500px;
  height: 1500px;
    border-radius: 10px;
    position: relative;
    top: 80px;
    left: 600px;
    background-color: white;
    border: 20px solid white;
    color: rgb(88, 77, 77);
    font-family: "Young Serif", serif;
  
}
.omelette{
    color: black;
}
img{
    border-radius: 5px;
}

.passa{
    background-color: rgb(255, 244, 255);
    height: 125px;
    border-radius: 10px;
   position: relative;
    width: 450px; 
    color: rgb(88, 77, 77);
    left: 25px;
    font-family: "Outfit", sans-serif;;
}
.paragra{
    color: hsl(332, 51%, 32%);
    /* color:hsl(332, 37%, 49%); */
  
}
h1{
    color: hsl(14, 45%, 36%)
}
.li{
    color: hsl(14, 45%, 36%);
}
.color{
    color: hsl(14, 45%, 36%);
}
.a{
    word-spacing: 100px;

 
}
.b{
    color: hsl(14, 45%, 36%);
}
.hr{
    color: hsl(30, 54%, 90%);
}

