<div class="barra">
   <a href="1"> HOME</a>
   <a href="2"> BIOGRAFIA</a>
   <a href="3"> CAMPANHAS PUBLICITÁRIAS</a>
   <a href="4"> CONTATO</a>
   
</div>
margin-left: 0%;
margin-top: 0;
color: #fff;
font-size: 15px;
border:2px solid rgb(115, 121, 140);
border-radius: 2px;
font-size: 23px;