img {
    width: 100px;
}

div#corpo{
    padding-top: 15px;
}

div#img{
    position: absolute;
    left: 200px;
    top: 20px;
    overflow: hidden;
}
 
.a{
    color: aliceblue;
    margin: 30px;

}